<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Transaction Logs Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/transaction-logs-page.css"/>
</head>
<body>
<div class="web-page">
  <div class="top-bar">
    <img class="trisys-logo" src="./assets/trisys-logo-uCs.png"/>
    <p class="current-user-text">INVENTORY MANAGER</p>
    <img class="profile-picture" src="./assets/profile-picture-eMM.png"/>
  </div>
  <div class="bottom-page-part">
    <%- include('sidebar') %>
    <div class="transaction-logs-title">Transaction Logs</div>
    <div class="transaction-block">
      <div class="upper-portion">
        <div class="search-bar">
          <img class="search-icon" src="./assets/searchicon-3.png"/>
        </div>
        <img class="settings-icon" src="./assets/settingsicon-1.png"/>
      </div>
      <div id="transaction-table-area" class="transaction-table-area"></div>
        <% logs.forEach(log => { %>
            <div class="transaction-table-entry">
              <div class="leftmost-icon-portion">
                <img class="entry-icon" src="./assets/addition_transaction_icon.png"/>
              </div>
              <div class="date-portion">
                <p class="month-portion">September 31,</p>
                <p class="year-portion">2024</p>
              </div>
              <div class="item-portion">
                <div class="upper-item-portion">
                  <p class="main-item"><%= log.main_item %></p>
                  <img class="change-icon" src="./assets/addition_transaction_icon.png"/>
                </div>
                <div class="lower-item-portion">
                  <p class="sub-item"><%= log.sub_item %></p>
                </div>
              </div>
              <div class="name-portion">
                <p class="user-text-template"><%= log.username %></p>
              </div>
              <div class="rightmost-text-portion">
                <p class="rightmost-text">Added</p>
              </div>
            </div>
          <% }) %>
      </div>
      <div id="pagination-portion" class="pagination-portion"></div>
            <% if (page > 1) { %>
              <a class="page-link" data-page="<%= Number(page) - 1 %>" href="#">Previous</a>
            <% } %>
            <% for (var i = Math.max(1, page - 2); i <= Math.min(totalPages, page + 2); i++) { %>
              <a class="page-link" data-page="<%= i %>" href="#"><%= i %></a>
            <% } %>
            <% if (page < totalPages) { %>
              <a class="page-link" data-page="<%= Number(page) + 1 %>" href="#">Next</a>
            <% } %>
          </div>
  </div>
</div>
</body>