<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Transaction Logs Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/transaction-logs-page.css"/>
</head>
<body>
<div class="web-page">
  <div class="top-bar">
    <img class="trisys-logo" src="./assets/trisys-logo-XA5.png"/>
    <div class="user-info">
        <p class="current-user-text"><%= roleOfUser %></p>
        <img class="profile-picture" src="<%= pictureUrl %>"/>
    </div>
</div>
  <div class="bottom-page-part">
    <%- include('sidebar.ejs') %>
    <div class="transaction-logs-title">Transaction Logs</div>
    <div class="transaction-block">
      <div class="upper-portion">
        <div class="search-bar">
          <!--TASK: Search Feature by User Code? -->
          <input type="text" class="search-input" placeholder="Search...">
          <img class="search-icon" src="./assets/searchicon-3.png"/>
        </div>
        <div class="dropdown">
          <img class="settings-icon" src="./assets/settingsicon-1.png" onclick="toggleDropdown()" class="dropbtn" id="dropdownButton">
          <div id="dropdownContent" class="dropdown-content">
            <a href="?trans_type=Daily Transaction">Daily Transaction</a>
            <a href="?trans_type=Modified">Modified</a>
            <a href="?trans_type=Removed">Removed</a>
            <a href="?trans_type=Added">Added</a>
            <a href="?trans_type=Set Date">Set Date</a>
          </div>
        </div>
      </div>
      <div id="transaction-table-area" class="transaction-table-area">
        <!--TASK: Get entries from the Change Log Table and Change some static fields-->
        <% logs.forEach(log => { %>
          <div class="transaction-table-entry">
            <div class="leftmost-icon-portion">
              <% if (log.trans_type === 'Added') { %>
                <img class="entry-icon" src="./assets/addition_transaction_icon.png"/>
              <% } else if (log.trans_type === 'Modified') { %>
                <img class="entry-icon" src="./assets/modified_icon.png"/>
              <% } %>
            </div>
            <div class="date-portion">
              <p class="month-portion"><%= new Date(log.log_date).toLocaleString('default', { month: 'long' }) %> <%= new Date(log.log_date).getDate() %>,</p>
              <p class="year-portion"><%= new Date(log.log_date).getFullYear() %></p>
            </div>
            <div class="item-portion">
              <div class="upper-item-portion">
                <!-- <p class="main-item"><%= log.main_item %></p> -->
                <p class="main-item"><%= log.description %></p>
                <img class="change-icon" src="./assets/change_icon_transac.png"/>
              </div>
              <div class="lower-item-portion">
                <!-- <p class="sub-item"><%= log.sub_item %></p> -->
                <p class="sub-item"><%= log.description %></p>
              </div>
            </div>
            <div class="name-portion">
              <p class="user-text-template"><%= log.username %></p>
            </div>
            <div class="rightmost-text-portion <%= log.trans_type === 'Modified' ? 'modified' : (log.trans_type === 'Added' ? 'added' : '') %>">
              <p class="rightmost-text"><%= log.trans_type %></p>
            </div>
          </div>
        <% }) %>
      </div>
      <!--TASK: Pagination Function, Pafix or Change if Ever-->
      <div id="pagination-portion" class="pagination">
        <% if (startPage > 1) { %>
          <a href="?page=<%= startPage - 1 %><%= transTypeFilter ? '&trans_type=' + transTypeFilter : '' %>">Previous</a>
        <% } %>
        <% for(let i = startPage; i <= endPage; i++) { %>
          <a href="?page=<%= i %><%= transTypeFilter ? '&trans_type=' + transTypeFilter : '' %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <% if (endPage < totalPages) { %>
          <a href="?page=<%= endPage + 1 %><%= transTypeFilter ? '&trans_type=' + transTypeFilter : '' %>">Next</a>
        <% } %>
      </div>
  </div>
</div>
<script>

  function toggleDropdown() {
    document.getElementById("dropdownContent").classList.toggle("show");
  }
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
</script>
</body>
</html>