<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Transaction Logs Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/transaction-logs-page.css"/>
  <style>
            .pagination {
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }
        .pagination a {
            border: 1px solid #ddd;
            border-radius: 5px;
            color: #333;
            margin: 0 5px;
            padding: 10px 15px;
            text-decoration: none;
        }
        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }
        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
  </style>
</head>
<body>
<div class="web-page">
  <div class="top-bar">
    <img class="trisys-logo" src="./assets/trisys-logo-uCs.png"/>
    <p class="current-user-text">INVENTORY MANAGER</p>
    <img class="profile-picture" src="./assets/profile-picture-eMM.png"/>
  </div>
  <div class="bottom-page-part">
    <%- include('sidebar.ejs') %>
    <div class="transaction-logs-title">Transaction Logs</div>
    <div class="transaction-block">
      <div class="upper-portion">
        <div class="search-bar">
          <!--TASK: Search Feature by User Code? -->
          <input type="text" class="search-input" placeholder="Search...">
          <img class="search-icon" src="./assets/searchicon-3.png"/>
        </div>
        <div class="dropdown">
          <img class="settings-icon" src="./assets/settingsicon-1.png" onclick="myFunction()" class="dropbtn">
          <!--TASK: Sorting Functions for the Change Log Table-->
          <div id="myDropdown" class="dropdown-content">
            <a href="#">Normal</a>
            <a href="#">Modified</a>
            <a href="#">Removed</a>
            <a href="#">Added</a>
            <a href="#">Set Date</a>
          </div>
        </div>
      </div>
      <div id="transaction-table-area" class="transaction-table-area">
        <!--TASK: Get entries from the Change Log Table and Change some static fields-->
        <% logs.forEach(log => { %>
          <div class="transaction-table-entry">
            <div class="leftmost-icon-portion">
              <img class="entry-icon" src="./assets/addition_transaction_icon.png"/>
            </div>
            <div class="date-portion">
              <p class="month-portion">September 31,</p>
              <p class="year-portion">2024</p>
            </div>
            <div class="item-portion">
              <div class="upper-item-portion">
                <!-- <p class="main-item"><%= log.main_item %></p> -->
                <p class="main-item"><%= log.description %></p>
                <img class="change-icon" src="./assets/change_icon_transac.png"/>
              </div>
              <div class="lower-item-portion">
                <!-- <p class="sub-item"><%= log.sub_item %></p> -->
                <p class="sub-item"><%= log.description %></p>
              </div>
            </div>
            <div class="name-portion">
              <p class="user-text-template"><%= log.username %></p>
            </div>
            <div class="rightmost-text-portion">
              <!-- <p class="rightmost-text">Added</p> -->
              <p class="rightmost-text"><%= log.trans_type %></p>
            </div>
          </div>
        <% }) %>
      </div>
      <!--TASK: Pagination Function, Pafix or Change if Ever-->
      <div id="pagination-portion" class="pagination">
        <% for(let i = 1; i <= totalPages; i++) { %>
          <a href="?page=<%= i %><%= transTypeFilter ? '&trans_type=' + transTypeFilter : '' %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
      <% } %>
      </div>
  </div>
</div>
<script>
  function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
</script>
</body>
</html>