<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Stock</title>
    <link rel="stylesheet" href="./styles/manage-stock-page.css"/>
</head>
<body>
    <div class="web-page">
        <div class="top-bar">
            <img class="trisys-logo" src="./assets/trisys-logo.png"/>
            <p class="current-user-text">INVENTORY MANAGER</p>
            <img class="profile-picture" src="./assets/profile-picture.png"/>
          </div>
          <div class="bottom-page-part">
            <div class="upper-part">
                <img class="item-icon" src="./assets/group.png"/>
                <p class="manage-stock-text">Manage Stock</p>
                <% 
                var date = new Date();
                var options = { year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' };
                var formattedDate = date.toLocaleDateString('en-US', options);
                %>
                <p class="date-text"><%= formattedDate %></p>
              </div>
              <!-- Category buttons -->
              <div class="middle-buttons-area">
                <button class="all-text" onclick="filterTable('')">All</button>
                <button class="fabrication-text" onclick="filterTable(1)">Fabrication</button> <!-- Pass classification id as argument -->
                <button class="fire-protection-text" onclick="filterTable(2)">Fire Protection</button> <!-- Pass classification id as argument -->
                <button class="electrical-text" onclick="filterTable(3)">Electrical</button> <!-- Pass classification id as argument -->
                <div class="search-bar">
                    <input class="search-input" type="text" placeholder="Search Code here..."/>
                    <img class="search-icon" src="./assets/searchicon-1.png"/>
                </div>
                <img class="on-off-switch" src="./assets/onoffswitch-1.png"/>
                <img class="a-to-z-icon" src="./assets/atoz.png"/>
              </div>
              <div class="upper-table-part">
                <!--TASK: Month & Day Sorting Function + Add a Function that Can Sort Through by Code-->
                <!--TASK: Error Handling if date is wrong-->
                  <p class="month-text">MONTH:</p>
                  <select id="month" class="month-dropdown">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="February">March</option>
                    <option value="February">April</option>
                    <option value="February">May</option>
                    <option value="February">June</option>
                    <option value="February">July</option>
                    <option value="February">August</option>
                    <option value="February">September</option>
                    <option value="February">October</option>
                    <option value="February">November</option>
                    <option value="February">December</option>
                  </select>
                  <p class="day-text">DAY:</p>
                  <input id="day" type="number" min="1" max="31" class="day-input"/>
              </div>
              <div class="table-section">
                <table id = "itemTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>CODE</th>
                            <th>MATERIAL</th>
                            <th>ITEM DESCRIPTION</th>
                            <th>BEGINNING</th>
                            <th>INCOMING</th>
                            <th>OUTGOING</th>
                            <th>AVAILABLE</th>
                            <th>PRICE</th>
                            <th>TOTAL AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% items.forEach((item, index) => { %>
                            <tr class="<%= item.classification_id %>">
                                <td><%= index + 1 %></td>
                                <td><%= item.clustercode %></td>
                                <td><%= item.cluster_description %></td>
                                <td><%= item.material_name %></td>
                                <!--TASK: Save the changes made here-->
                                <td>
                                    <input type="number" id="beginning<%= item.no %>" value="<%= item.beginning_inventory %>" class="input-field">
                                </td>
                                <td>
                                    <button onclick="decreaseValue('incoming<%= item.no %>')">
                                      <img src="./assets/Decrease_Button.png" alt="Decrease">
                                    </button>
                                    <input type="number" id="incoming<%= item.no %>" value="<%= item.incoming %>" class="input-field">
                                    <button onclick="increaseValue('incoming<%= item.no %>')">
                                      <img src="./assets/Increase_Button.png" alt="Increase">
                                    </button>
                                  </td>
                                <td>
                                    <button onclick="decreaseValue('outgoing<%= item.no %>')">
                                        <img src="./assets/Decrease_Button.png" alt="Decrease">
                                      </button>
                                    <input type="number" id="outgoing<%= item.no %>" value="<%= item.outgoing %>" class="input-field">
                                    <button onclick="increaseValue('outgoing<%= item.no %>')">
                                        <img src="./assets/Increase_Button.png" alt="Increase">
                                      </button>
                                </td>
                                <td><%= item.available %></td>
                                <td><%= item.price %></td>
                                <td><%= item.price * item.available %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                </div>
                <div class="lower-section">
                    <!--TASK: Make a Pagination function, maybe 10 records shown at a time-->
                    <div class="showing-area-text-area">
                      <p class="showing-area-text">Showing 1-10 | Out of 1574</p>
                    </div>
                    <!--TASK: Make this buttons work through pagination-->
                        <img class="up-arrow" src="./assets/auto-group-titq.png"/> 
                        <img class="down-arrow" src="./assets/auto-group-titq.png"/>
                  </div>
          </div>
    </div>
    <%- include('sidebar') %>
    <script>
        function increaseValue(id) {
            let value = parseInt(document.getElementById(id).value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById(id).value = value;
        }

        function decreaseValue(id) {
            let value = parseInt(document.getElementById(id).value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 1 : '';
            value--;
            document.getElementById(id).value = value;
        }
        
        function filterTable(id) {
    var rows = document.getElementById('itemTable').getElementsByTagName('tr');
    for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
        var rowId = rows[i].className;
        if (id === '' || id.toString() === rowId) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }
    }
}


    </script>
</body>
</html>